:root {
  --smoke: #eee;
  --blue-solid: #0000ff;
  --green: #7acc2d;
  --white: #fff;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
  background-color: var(--white);
}

/* Utilities */
.container {
  display: block;
  max-width: 124rem;
  margin: 0 auto;
}

/* Navigation */
.main-header {
  padding: 0;
  background-color: var(--green);
}

.nav {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}

.nav__brand {
  font-size: 2.4rem;
}

.nav__options {
  display: flex;
  gap: 2rem;
  list-style: none;
  margin: 0;
}

.nav__options a {
  text-decoration: none;
  color: var(--smoke);
  transition: color 0.2s;
}

.nav__options a:hover {
  color: var(--white);
}

/* Main */

.main {
  padding: 8rem 0 12rem 0;
  background-image: url("../assets/images/wave.svg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

.main__heading {
  max-width: 64rem;
  text-align: center;
  margin: 0 auto 4rem auto;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

/* Cards */

.products__card {
  background-color: var(--white);
  border-radius: 1rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  padding: 3.5rem 2rem;
  width: 24rem;
}

.card__image-container {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.card__image-container img {
  max-width: 100%;
  height: 10rem;
}

.card__header h3,
.card__content p {
  margin: 0;
}

.card__header h3 {
  margin-bottom: 1rem;
}

.card__content p {
  line-height: 1.5;
}

.card__actions {
  margin-top: 1.5rem;
}

.card__button {
  background-color: var(--green);
  border: none;
  border-radius: 0.5rem;
  color: var(--white);
  cursor: pointer;
  font-size: 1.6rem;
  padding: 1rem 2rem;
  transition: background-color 0.2s;
  width: 100%;
}
