:root {
  --smoke: #eee;
  --blue-solid: #0000ff;
  --green: #7acc2d;
  --white: #fff;
  --black: #000;
  --cyan-dark: #0a192f;
  
  --shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

*, *::before, *::after {
  box-sizing: border-box;
}


body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  background-color: var(--white);
}

/* Utilities */
.my-container {
  display: block;
  max-width: 1240px;
  margin: 0 auto;
}

/* Navigation */
.main-header {
  padding: 0;
  background-color: var(--green);
}

.nav {
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.nav__brand {
  font-size: 24px;
}

.nav__options {
  display: flex;
  align-items: center;
  gap: 20px;
  list-style: none;
  margin: 0;
}

.nav__options a {
  text-decoration: none;
  color: var(--smoke);
  transition: color 0.2s;
}

.nav__options a:hover {
  color: var(--white);
}

/* Main */

main {
  min-height: calc(100vh - (58.4px + 47.6px));
}

.index-main {
  padding: 80px 0 120px 0;
  background-image: url("../assets/images/wave.svg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

.main__heading {
  max-width: 640px;
  text-align: center;
  margin: 0 auto 40px auto;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

/* Cards */

.products__card {
  background-color: var(--white);
  border-radius: 10px;
  box-shadow: var(--shadow);
  padding: 35px 20px;
  width: 240px;
}

.card__image-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.card__image-container img {
  max-width: 100%;
  height: 100px;
}

.card__header h3,
.card__content p {
  margin: 0;
}

.card__header h3 {
  margin-bottom: 10px;
}

.card__content p {
  line-height: 1.5;
}

.card__actions {
  margin-top: 15px;
}

.card__button {
  background-color: var(--green);
  border: none;
  border-radius: 5px;
  color: var(--white);
  cursor: pointer;
  font-size: 16px;
  padding: 10px 20px;
  transition: background-color 0.2s;
  width: 100%;
}

.footer {
    background-color: var(--green);
    padding: 20px 0;
}

.footer__container {
    display: flex;
    justify-content: space-around;
    color: var(--white);
}

.footer__container p {
    margin: 0;
}


/* Sale */

.sale-main {
  display: grid;
  place-items: center;
  width: 100%;
  min-height: calc(100vh - (58.4px + 47.6px));
}

.sale-main .container {
  width: 90%;
}

.payment_module, .form {
  border-radius: 5px;
  box-shadow: var(--shadow);
  padding: 10px;
}

.form-container form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-container form label {
  font-size: 14px;
  display: block;
}

.form-container form input {
  margin-top: 8px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid var(--black);
  width: 100%;
}

/* messages */

.message-main {
  display: grid;
  place-items: center;
  width: 100%;
  min-height: calc(100vh);
}